@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer base {
  [lang="gu"] {
    font-feature-settings: "kern" 1, "liga" 1, "palt" 1;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
